{
	'parser': 'babel-eslint',
	'extends': 'airbnb',
	'env': {
		'browser': true,
	},
	'globals': {
		'dymo': true,
	},
	'settings': {
		'import/resolver': {
			'webpack': {
				'config': 'config/webpack.js',
			},
		},
	},
	'rules': {
		// Tabs for indentation
		'indent': ['error', 'tab'],
		'no-tabs': 'off',
		'react/jsx-indent': ['error', 'tab'],
		'react/jsx-indent-props': ['error', 'tab'],
		'max-len': ['error', 120],

		// Ignore provided prop types, no point in defining those everywhere
		'react/prop-types': ['error', {
			'ignore': ['viewer', 'route', 'routes', 'router', 'params', 'relay'],
		}],

		// Consistency, even if there is only one param
		'arrow-parens': ['error', 'always'],

		// Avoid directly mutating the state
		'react/no-direct-mutation-state': 'error',

		// Allow relay mutation methods to not use this
		'class-methods-use-this': ['error', {
			'exceptMethods': [
				// React
				'render',
				'getInitialState',
				'getDefaultProps',
				'getChildContext',
				'componentWillMount',
				'componentDidMount',
				'componentWillReceiveProps',
				'shouldComponentUpdate',
				'componentWillUpdate',
				'componentDidUpdate',
				'componentWillUnmount',
				// Relay
				'getMutation',
				'getVariables',
				'getFatQuery',
				'getConfigs',
				'getOptimisticResponse',
			],
		}],
	},
}
