// More distinct table header
thead {
	background-color: #375a7f;
}

// Better looking <pre>
pre {
	color: #ccc;
	background-color: #333;
}

// More centered dialog
.modal-dialog {
	margin-top: 250px;
}
